<a href="https://colab.research.google.com/github/Avonna/ITMO/blob/master/Python_%D0%9F%D0%B0%D0%BD%D0%B4%D0%B0%D1%81_%D0%98%D0%A2%D0%9C%D0%9E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Машинное обучение и анализ данных

## Высшая Школа Цифровой Культуры

## Библиотека $\mathsf{pandas}$

Подключение основных возможностей библиотеки $\mathsf{pandas}$ осуществляется двумя строчками кода:

In [4]:
from pandas import Series, DataFrame
import pandas as pd

In [2]:
numbers = Series([1, -3, 2, 7]) #Преобразование списка в серию
print(numbers) #Вывод серии

0    1
1   -3
2    2
3    7
dtype: int64

In [3]:
numbers = Series([1, -3, 2, 7]) #Преобразование списка в серию
print(numbers.index) #Вывод индексов в формате индексов pandas
print(numbers.values) #Вывод значений серии

RangeIndex(start=0, stop=4, step=1)
[ 1 -3  2  7]

In [ ]:
numbers = Series([1, -3, 2, 7], index=['d', 'b', 'a', 'c']) #Создание серии на основе списка значений и списка индексов
print(numbers) #Вывод серии

d    1
b   -3
a    2
c    7
dtype: int64

In [ ]:
numbers = Series([1, -3, 2, 7], index=['a', 'b', 'a', 'c']) #Серия, имеющая пару одинаковых индексов

In [ ]:
numbers['a'].values #Вывод значений серии, отвечающих индексу 'a'

array([1, 2])

In [ ]:
numbers[['a', 'c']].values #Вывод значений серии, отвечающих индексам 'a' и 'c'

array([1, 2, 7])

In [ ]:
numbers > 0

a     True
b    False
a     True
c     True
dtype: bool

In [ ]:
numbers[numbers > 0]

a    1
a    2
c    7
dtype: int64

In [ ]:
numbers + 2

a    3
b   -1
a    4
c    9
dtype: int64

In [ ]:
person = {'name': 'Степан', 'gender': 'муж.', 'age': 20} #Создание словаря
person_series = Series(person) #Преобразование словаря в серию

In [ ]:
person_series #Вывод серии данных

name      Степан
gender      муж.
age           20
dtype: object

In [ ]:
cars = {'name': ['ford torino', 'peugeot 504', 'fiat 124b'], 'hp': [140, 87, 76]} #Создание словаря из списков
cars_frame = DataFrame(cars) #Создание фрейма данных на основе словаря cars

In [ ]:
cars_frame #Вывод фрейма данных

          name   hp
0  ford torino  140
1  peugeot 504   87
2    fiat 124b   76

In [ ]:
cars_frame['name']

0    ford torino
1    peugeot 504
2      fiat 124b
Name: name, dtype: object

In [ ]:
cars_frame.name

0    ford torino
1    peugeot 504
2      fiat 124b
Name: name, dtype: object

In [ ]:
cars = {'name': ['ford torino', 'peugeot 504', 'fiat 124b'],
        'hp': [140, 87, 76],
        'weight': [3449, 2672, 2065]}
cars_frame = DataFrame(cars, columns=['name', 'weight', 'hp'],
                             index=['one', 'two', 'three'])

In [ ]:
cars_frame

              name  weight   hp
one    ford torino    3449  140
two    peugeot 504    2672   87
three    fiat 124b    2065   76

In [ ]:
cars_frame = DataFrame(cars, columns=['weight', 'hp'],
                             index=cars['name'])

In [ ]:
cars_frame

             weight   hp
ford torino    3449  140
peugeot 504    2672   87
fiat 124b      2065   76

In [ ]:
cars_frame.loc['ford torino']

weight    3449
hp         140
Name: ford torino, dtype: int64

In [ ]:
cars_frame.loc['ford torino'].to_frame()

        ford torino
weight         3449
hp              140

In [ ]:
cars_frame.loc['ford torino'].to_frame().T

             weight   hp
ford torino    3449  140

In [ ]:
cars_frame.loc['peugeot 504']['hp']

87

In [ ]:
cars_frame.loc['peugeot 504']['hp'] = 140

In [ ]:
cars_frame

             weight   hp
ford torino    3449  140
peugeot 504    2672  140
fiat 124b      2065   76

In [ ]:
new_cars_frame = cars_frame.drop(['fiat 124b'])

In [ ]:
new_cars_frame

             weight   hp
ford torino    3449  140
peugeot 504    2672  140

In [ ]:
new_cars_frame = cars_frame.drop(['hp'], axis=1)

In [ ]:
new_cars_frame

             weight
ford torino    3449
peugeot 504    2672
fiat 124b      2065

In [ ]:
numbers = Series([1, -3, 2, 7])
sorted_numbers = numbers.sort_values()
print(numbers)
print(sorted_numbers)

0    1
1   -3
2    2
3    7
dtype: int64
1   -3
0    1
2    2
3    7
dtype: int64

In [ ]:
numbers = Series([1, -3, 2, 7])
sorted_numbers = numbers.sort_values(ascending=False)
print(numbers)
print(sorted_numbers)

0    1
1   -3
2    2
3    7
dtype: int64
3    7
2    2
0    1
1   -3
dtype: int64

In [ ]:
cars = {'name': ['ford torino', 'peugeot 504', 'fiat 124b'],
        'hp': [140, 76, 76],
        'weight': [3449, 2672, 2065]}
cars_frame = DataFrame(cars, columns=['weight', 'hp'],
                             index=cars['name'])
cars_frame.sort_values('hp')

             weight   hp
peugeot 504    2672   76
fiat 124b      2065   76
ford torino    3449  140

In [ ]:
cars_frame.sort_values(['hp', 'weight'], ascending=[True, False])

             weight   hp
peugeot 504    2672   76
fiat 124b      2065   76
ford torino    3449  140

In [ ]:
cars = {'name': ['ford torino', 'peugeot 504', 'fiat 124b'],
        'hp': [140, 87, 76],
        'weight': [3449, 2672, 2065]}
cars_frame = DataFrame(cars, columns=['weight','hp'],
                             index=cars['name'])

In [ ]:
cars_frame.min()

weight    2065
hp          76
dtype: int64

In [ ]:
cars_frame_norm = (cars_frame - cars_frame.min()) / (cars_frame.max() - cars_frame.min())

In [ ]:
cars_frame_norm

               weight        hp
ford torino  1.000000  1.000000
peugeot 504  0.438584  0.171875
fiat 124b    0.000000  0.000000

In [ ]:
cars_frame.describe()

            weight          hp
count     3.000000    3.000000
mean   2728.666667  101.000000
std     693.737943   34.219877
min    2065.000000   76.000000
25%    2368.500000   81.500000
50%    2672.000000   87.000000
75%    3060.500000  113.500000
max    3449.000000  140.000000

In [ ]:
cars_frame_norm.describe()

         weight        hp
count  3.000000  3.000000
mean   0.479528  0.390625
std    0.501256  0.534686
min    0.000000  0.000000
25%    0.219292  0.085938
50%    0.438584  0.171875
75%    0.719292  0.585938
max    1.000000  1.000000

### Импорт данных

In [5]:
all_cars = pd.read_csv('/content/auto-mpg.csv') # Файл auto-mpg.csv находится в той же директории, что и файл Jupyter блокнота

In [6]:
all_cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [7]:
all_cars.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [8]:
all_cars = pd.read_csv('auto-mpg.csv', 
                       delimiter=',', 
                       index_col='car name', 
                       nrows=5, 
                       decimal='.', 
                       usecols=['car name', 'horsepower', 'cylinders', 'weight'])

In [10]:
all_cars

                           cylinders  horsepower  weight
car name
chevrolet chevelle malibu          8         130    3504
buick skylark 320                  8         165    3693
plymouth satellite                 8         150    3436
amc rebel sst                      8         150    3433
ford torino                        8         140    3449

In [11]:
all_cars.head(10)

                           cylinders  horsepower  weight
car name
chevrolet chevelle malibu          8         130    3504
buick skylark 320                  8         165    3693
plymouth satellite                 8         150    3436
amc rebel sst                      8         150    3433
ford torino                        8         140    3449

При помощи библиотеки pandas импортируйте набор данных об автомобилях в формате CSV. (Инструкция по работе с файлами в Google Colaboratory) Колонка 'name' должна быть использована в качестве индекса. Десятичный разделитель — точка, разделитель колонок — запятая. Предполагается, что pandas уже импортирован следующим образом: import pandas as pd

In [28]:
df = pd.read_csv("/content/auto-mpg-quiz.csv", 
                  delimiter=',',
                 index_col = "name",
                 decimal='.')
df

                            mpg  cyl  displ   hp  weight  accel  yr  origin
name
chevrolet chevelle malibu  18.0    8  307.0  130    3504   12.0  70       1
buick skylark 320          15.0    8  350.0  165    3693   11.5  70       1
plymouth satellite         18.0    8  318.0  150    3436   11.0  70       1
amc rebel sst              16.0    8  304.0  150    3433   12.0  70       1
ford torino                17.0    8  302.0  140    3449   10.5  70       1
...                         ...  ...    ...  ...     ...    ...  ..     ...
ford mustang gl            27.0    4  140.0   86    2790   15.6  82       1
vw pickup                  44.0    4   97.0   52    2130   24.6  82       2
dodge rampage              32.0    4  135.0   84    2295   11.6  82       1
ford ranger                28.0    4  120.0   79    2625   18.6  82       1
chevy s-10                 31.0    4  119.0   82    2720   19.4  82       1

[392 rows x 8 columns]

Получите выборку из исходного набора данных на основании следующего критерия:

Все строки, где  4 (автомобили с четырехцилиндровым двигателем).

In [42]:
df_cyl = df.loc[df["cyl"] == 4]
df_cyl

                               mpg  cyl  displ  hp  weight  accel  yr  origin
name
toyota corona mark ii         24.0    4  113.0  95    2372   15.0  70       3
datsun pl510                  27.0    4   97.0  88    2130   14.5  70       3
volkswagen 1131 deluxe sedan  26.0    4   97.0  46    1835   20.5  70       2
peugeot 504                   25.0    4  110.0  87    2672   17.5  70       2
audi 100 ls                   24.0    4  107.0  90    2430   14.5  70       2
...                            ...  ...    ...  ..     ...    ...  ..     ...
ford mustang gl               27.0    4  140.0  86    2790   15.6  82       1
vw pickup                     44.0    4   97.0  52    2130   24.6  82       2
dodge rampage                 32.0    4  135.0  84    2295   11.6  82       1
ford ranger                   28.0    4  120.0  79    2625   18.6  82       1
chevy s-10                    31.0    4  119.0  82    2720   19.4  82       1

[199 rows x 8 columns]

Получите выборку из исходного набора данных на основании следующего критерия:

Все строки, где  4 (автомобили с четырехцилиндровым двигателем) и  80 (мощность строго больше 80).

In [47]:
df1 = df[df.cyl == 4] 
df1 = df1[df1.hp > 80]
df1

                        mpg  cyl  displ  hp  weight  accel  yr  origin
name
toyota corona mark ii  24.0    4  113.0  95    2372   15.0  70       3
datsun pl510           27.0    4   97.0  88    2130   14.5  70       3
peugeot 504            25.0    4  110.0  87    2672   17.5  70       2
audi 100 ls            24.0    4  107.0  90    2430   14.5  70       2
saab 99e               25.0    4  104.0  95    2375   17.5  70       2
...                     ...  ...    ...  ..     ...    ...  ..     ...
dodge charger 2.2      36.0    4  135.0  84    2370   13.0  82       1
chevrolet camaro       27.0    4  151.0  90    2950   17.3  82       1
ford mustang gl        27.0    4  140.0  86    2790   15.6  82       1
dodge rampage          32.0    4  135.0  84    2295   11.6  82       1
chevy s-10             31.0    4  119.0  82    2720   19.4  82       1

[86 rows x 8 columns]

Получите выборку из исходного набора данных на основании следующего критерия:

Все строки, где  4 (автомобили с четырехцилиндровым двигателем) и  80 (мощность строго больше 80);
И все строки, где  8 (автомобили с восьмицилиндровым двигателем) и  90 (мощность строго больше 90).

In [58]:
df1 = df[((df.cyl == 4) & (df.hp > 80)) | ((df.cyl == 8) & (df.hp > 90))]
df1

                            mpg  cyl  displ   hp  weight  accel  yr  origin
name
chevrolet chevelle malibu  18.0    8  307.0  130    3504   12.0  70       1
buick skylark 320          15.0    8  350.0  165    3693   11.5  70       1
plymouth satellite         18.0    8  318.0  150    3436   11.0  70       1
amc rebel sst              16.0    8  304.0  150    3433   12.0  70       1
ford torino                17.0    8  302.0  140    3449   10.5  70       1
...                         ...  ...    ...  ...     ...    ...  ..     ...
dodge charger 2.2          36.0    4  135.0   84    2370   13.0  82       1
chevrolet camaro           27.0    4  151.0   90    2950   17.3  82       1
ford mustang gl            27.0    4  140.0   86    2790   15.6  82       1
dodge rampage              32.0    4  135.0   84    2295   11.6  82       1
chevy s-10                 31.0    4  119.0   82    2720   19.4  82       1

[188 rows x 8 columns]

Определите выборочное среднее столбца weight полученной в прошлом задании выборки. Результат округлите до тысячных.

In [59]:
df1.loc[:, 'weight'].mean()

3400.303191489362

In [60]:
round(df1.weight.mean(), 3)

3400.303

С помощью метода drop удалите лишние колонки. Должны остаться колонки 'hp', 'cyl', 'weight', 'accel' и индекс 'name'.

In [20]:
df = df[['hp', 'cyl', 'weight', 'accel']]
df

                            hp  cyl  weight  accel
name
chevrolet chevelle malibu  130    8    3504   12.0
buick skylark 320          165    8    3693   11.5
plymouth satellite         150    8    3436   11.0
amc rebel sst              150    8    3433   12.0
ford torino                140    8    3449   10.5
...                        ...  ...     ...    ...
ford mustang gl             86    4    2790   15.6
vw pickup                   52    4    2130   24.6
dodge rampage               84    4    2295   11.6
ford ranger                 79    4    2625   18.6
chevy s-10                  82    4    2720   19.4

[392 rows x 4 columns]