<a href="https://colab.research.google.com/github/Avonna/ITMO/blob/master/Week_5_(_)%D0%B4%D0%BE%D0%BC%D0%B0%D1%88%D0%BA%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

В этом блокноте мы научимся строить график японских свечей.

Для начала подключаем библиотеку pandas и загружаем интересующий нас [файл](https://studio.openedu.ru/assets/courseware/v1/824fccdb3e15cab129049a536ece5500/asset-v1:ITMOUniversity+DATANTECH2035+fall_2021+type@asset+block/SPFB.RTS-12.18_180901_181231.csv) при помощи метода `read_csv(file_name, delimeter, index_col, decimal, usecols, header, ...)`. Подробное описание можно найти по [ссылке](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

In [1]:
import pandas as pd
data = pd.read_csv('https://studio.openedu.ru/assets/courseware/v1/824fccdb3e15cab129049a536ece5500/asset-v1:ITMOUniversity+DATANTECH2035+fall_2021+type@asset+block/SPFB.RTS-12.18_180901_181231.csv', 
                       delimiter=',', 
                       decimal='.')

 Посмотрим на наши данные. Похоже, они загрузились правильно.

In [2]:
data.head()

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,SPFB.RTS-12.18,1,03/09/18,10:01,107900.0,108060.0,107900.0,108030.0,3
1,SPFB.RTS-12.18,1,03/09/18,10:02,107960.0,107960.0,107960.0,107960.0,5
2,SPFB.RTS-12.18,1,03/09/18,10:04,108000.0,108000.0,108000.0,108000.0,8
3,SPFB.RTS-12.18,1,03/09/18,10:05,108000.0,108000.0,108000.0,108000.0,1
4,SPFB.RTS-12.18,1,03/09/18,10:08,108080.0,108080.0,108080.0,108080.0,1

Можно окинуть взглядом и весь набор данных:

In [3]:
data

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
0,SPFB.RTS-12.18,1,03/09/18,10:01,107900.0,108060.0,107900.0,108030.0,3
1,SPFB.RTS-12.18,1,03/09/18,10:02,107960.0,107960.0,107960.0,107960.0,5
2,SPFB.RTS-12.18,1,03/09/18,10:04,108000.0,108000.0,108000.0,108000.0,8
3,SPFB.RTS-12.18,1,03/09/18,10:05,108000.0,108000.0,108000.0,108000.0,1
4,SPFB.RTS-12.18,1,03/09/18,10:08,108080.0,108080.0,108080.0,108080.0,1
...,...,...,...,...,...,...,...,...,...
58965,SPFB.RTS-12.18,1,20/12/18,18:40,109380.0,109380.0,109380.0,109380.0,1
58966,SPFB.RTS-12.18,1,20/12/18,18:41,109380.0,109390.0,109380.0,109390.0,10
58967,SPFB.RTS-12.18,1,20/12/18,18:43,109380.0,109390.0,109380.0,109390.0,12
58968,SPFB.RTS-12.18,1,20/12/18,18:44,109390.0,109390.0,109390.0,109390.0,3
58969,SPFB.RTS-12.18,1,20/12/18,18:45,109390.0,109390.0,109380.0,109380.0,3

Преобразуем дату в удобный для дальнейшего формат, склеив дату и время

In [4]:
data['DATE'] = data['<DATE>'] + ' ' + data['<TIME>'] 
data.head()

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,DATE
0,SPFB.RTS-12.18,1,03/09/18,10:01,107900.0,108060.0,107900.0,108030.0,3,03/09/18 10:01
1,SPFB.RTS-12.18,1,03/09/18,10:02,107960.0,107960.0,107960.0,107960.0,5,03/09/18 10:02
2,SPFB.RTS-12.18,1,03/09/18,10:04,108000.0,108000.0,108000.0,108000.0,8,03/09/18 10:04
3,SPFB.RTS-12.18,1,03/09/18,10:05,108000.0,108000.0,108000.0,108000.0,1,03/09/18 10:05
4,SPFB.RTS-12.18,1,03/09/18,10:08,108080.0,108080.0,108080.0,108080.0,1,03/09/18 10:08

Поработаем над форматом времени. Для этого переведем строковые данные, показывающие время, в специальный объект в Python.

In [5]:
data['DATE'] = pd.to_datetime(data['DATE'], format="%d/%m/%y %H:%M")
data.head()

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,DATE
0,SPFB.RTS-12.18,1,03/09/18,10:01,107900.0,108060.0,107900.0,108030.0,3,2018-09-03 10:01:00
1,SPFB.RTS-12.18,1,03/09/18,10:02,107960.0,107960.0,107960.0,107960.0,5,2018-09-03 10:02:00
2,SPFB.RTS-12.18,1,03/09/18,10:04,108000.0,108000.0,108000.0,108000.0,8,2018-09-03 10:04:00
3,SPFB.RTS-12.18,1,03/09/18,10:05,108000.0,108000.0,108000.0,108000.0,1,2018-09-03 10:05:00
4,SPFB.RTS-12.18,1,03/09/18,10:08,108080.0,108080.0,108080.0,108080.0,1,2018-09-03 10:08:00

Сформируем интересующую нас выборку

In [16]:
df_filtered = data[data['DATE'].dt.strftime('%Y-%m-%d') == '2018-09-17']
df_filtered

,<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,DATE
4395,SPFB.RTS-12.18,1,17/09/18,10:01,108230.0,108380.0,108000.0,108110.0,124,2018-09-17 10:01:00
4396,SPFB.RTS-12.18,1,17/09/18,10:02,108110.0,108110.0,107960.0,108010.0,137,2018-09-17 10:02:00
4397,SPFB.RTS-12.18,1,17/09/18,10:03,108010.0,108070.0,107960.0,107960.0,122,2018-09-17 10:03:00
4398,SPFB.RTS-12.18,1,17/09/18,10:04,107950.0,108080.0,107950.0,108060.0,110,2018-09-17 10:04:00
4399,SPFB.RTS-12.18,1,17/09/18,10:05,108060.0,108150.0,108040.0,108080.0,63,2018-09-17 10:05:00
...,...,...,...,...,...,...,...,...,...,...
5135,SPFB.RTS-12.18,1,17/09/18,23:45,108400.0,108400.0,108390.0,108400.0,3,2018-09-17 23:45:00
5136,SPFB.RTS-12.18,1,17/09/18,23:46,108400.0,108400.0,108400.0,108400.0,2,2018-09-17 23:46:00
5137,SPFB.RTS-12.18,1,17/09/18,23:48,108390.0,108400.0,108390.0,108400.0,5,2018-09-17 23:48:00
5138,SPFB.RTS-12.18,1,17/09/18,23:49,108400.0,108410.0,108400.0,108410.0,3,2018-09-17 23:49:00
5139,SPFB.RTS-12.18,1,17/09/18,23:50,108450.0,108480.0,108370.0,108440.0,12,2018-09-17 23:50:00

Теперь полная дата будет для нас индексом объектов

In [17]:
df_filtered = df_filtered.set_index('DATE')

Выберем только интересующие для построения столбцы:

In [18]:
df_filtered = df_filtered[['<OPEN>','<HIGH>','<LOW>','<CLOSE>']]

Переименуем (для удобства) столбцы:

In [19]:
df_filtered.columns =['open', 'high', 'low', 'close']
df_filtered.head()

                         open      high       low     close
DATE
2018-09-17 10:01:00  108230.0  108380.0  108000.0  108110.0
2018-09-17 10:02:00  108110.0  108110.0  107960.0  108010.0
2018-09-17 10:03:00  108010.0  108070.0  107960.0  107960.0
2018-09-17 10:04:00  107950.0  108080.0  107950.0  108060.0
2018-09-17 10:05:00  108060.0  108150.0  108040.0  108080.0

Проведем агрегацию данных для построения графика свечей:

In [20]:
d2 = df_filtered.resample('1H').agg({'open':'first',
                                     'high':'max',
                                     'low':'min',
                                     'close':'last'})

Осталось подключить необходимую библиотеку и построить:

In [21]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Candlestick(x=d2.index,
                open=d2['open'],
                high=d2['high'],
                low=d2['low'],
                close=d2['close'])])

fig.show()